.search{
    border-bottom: 1px solid rgba(128, 128, 128, 0.507);

    .searchForm{
        padding-left: 12px;
        
        input{
            background-color: transparent;
            border: none;
            color: white;
            outline: none;
            width: 100%;
            

        }
    }
}